%table
  %thead
    %th= t('.game_name')
    %th
      - if params[:sort] == 'statistics.current_players'
        = link_to t('.current_players'), games_path(sort: '-statistics.current_players')
      - else
        = link_to t('.current_players'), games_path(sort: 'statistics.current_players')
    %th
      - if params[:sort] == 'statistics.peak_today'
        = link_to t('.peak_today'), games_path(sort: '-statistics.peak_today')
      - else
        = link_to t('.peak_today'), games_path(sort: 'statistics.peak_today')
    %th= t('.current_online_rank')
    %th= t('.peak_online_rank')
  %tbody
    - @games.each do |game|
      %tr
        %td= game.name
        %td= game.statistics.last.current_players
        %td= game.statistics.last.peak_today
        %td= game.current_online_rank
        %td= game.peak_online_rank
